---
import { App } from "../components/App";
import "../components/App.css";
import "../components/SearchBar.css";
import "../components/ContinentCard.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Country Search</title>
	</head>
	<body>
		<App client:only="react" />
	</body>
</html>
